
<h3><span>Awards</span></h3>

<div>
    <ul style="list-style-type:circle">
      <li>Google X Honghap Valley Wearable Hackathon <b style="color : #f3a536;">2nd</b> Prize</li>
      <li>10th Appjam <b style="color : #f3a536;">3rd</b> Prize</li>
      <li>2016 Smarteen App Challange IoT <b style="color : #f3a536;">1st</b> Prize</li>
      <li>Sunrin Mobile Contents Contest <b style="color : #f3a536;">2nd</b> Prize</li>
      <li>D3S Hackathon <b style="color : #f3a536;">Most-Voted</b> Prize</li>
      <li>Hyundai Mobility Hackathon Final 11</li>
      <li>Korea University Hackathon <b style="color : #f3a536;">4th</b> Prize</li>
      <li>Sunrin Digital Contents Contest <b style="color : #f3a536;">4th</b> Prize</li>
    </ul>
</div>

<h3><span>Activities </span></h3>

<div>
    <h4><span>2016</span></h4>
    <ul style="list-style-type:circle">
        <li><a href="http://app-show.co.kr/">2016 Appshow Korea Booth</a></li>
        <li><a href="http://www.creativekorea-expo.or.kr/">2016 Creative Korea Expo Booth</a></li>
        <li><a href ="http://hellocoding.io/">Hello!Coding</a> Volunteering</li>
        <li><a href="https://www.facebook.com/BizCoolFestival/">2016 Teen Biz-cool Festival Booth</a></li>
        <li><a href="https://www.facebook.com/smarteenappclub/">12th Appjam</a> Supporter</li>
    </ul>
    <h4><span>2017</span></h4>
    <ul style="list-style-type:circle">
        <li>Goalkeeper at FC Sunrin</li>
        <li><a href ="http://hellocoding.io/">Hello!Coding</a> Volunteering</li>
        <li><a href="https://www.facebook.com/smarteenappclub/">13th Appjam</a> Supporter</li>
        <li>Played flute on Comfort Women Memorial Event</li>
        <li>Studied Sports Data Analytics at <a href="https://www.facebook.com/HSPORTSkr/">Hsports</a></li>
    </ul>
</div>
