<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
{% assign current = page.url | downcase | split: '/' %}
<nav class="nav">
  <div class="nav-container">
    <div class="topnav" id="myTopnav">
    <a href="{{ '/' | prepend: site.baseurl }}" class="arrange_left">
      <h2 class="nav-title, sans">{{ site.title }}</h2>
    </a>
      <ul class="arrange_right">
        <li class="transition"><a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "posts" or current[1] == "category" %} class="normal" {% endif %} class="active">Home</a></li>
        <li class="transition"><a href="{{ '/about' | prepend: site.baseurl }}/" {% if current[1] == "about" %} class="active"{% endif %}>About</a></li>
        <li class="transition"><a href="{{ '/posts' | prepend: site.baseurl }}/" {% if current[1] == "posts" %} class="active"{% endif %}>Posts</a></li>
        <li class="transition"><a href="{{ '/category' | prepend: site.baseurl }}/" {% if current[1] == "category" %} class="active"{% endif %}>Category</a></li>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </ul>
    </div>

  </div>
</nav>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
</body>

