---
layout: default
---
<ul class="posts-list">

    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}

    <li class="catalogue-item">
        <a href="{{ post.url | prepend: site.baseurl }}">

            <time datetime="{{ post.date }}" class="catalogue-type">{{ post.date | date: "%B %d, %Y" }}</time>
            <p class="catalogue-type">
                {{ post.category }}
            </p>

            <div class="catalogue-info transition">
                <h1 class="catalogue-title">
                    {{ post.title }}
                </h1>
                <p class="catalogue-body">
                    {{ post.content | truncatewords: 24 | strip_html }}
                </p>
            </div>
        </a>
    </li>

    {% endfor %}

</ul>

{% include pagination.html %}